// Page
$primary-bg-color: #e5e5e5;
$secondary-bg-color: #ffffff;

// Header
$header-bg: #ffffff;

//Fonts
$primary-font-color: #484848;
$secondary-font-color: #919191;

//Links
$primary-link-color: #484848;
$primary-hover-link-color: #f28b00;

//Border
$primary-border-color: #e5e5e5;
$secondary-border-color: #bfbfbf;

//Breadcrumb
$breadcrumb-font-color: #646464;

//Disabled
$disabled-color: #bfbfbf;
$disabled-bg-color: #dddddd;

//Buttons
$primary-button-bg-color: #f28b00;
$secondary-button-bg-color: #537ecf;
$primary-button-font-color: #ffffff;

// Tabs
// TODO: Names need to be changed to avoid confusion
$primary-tabs-background-color: #dddddd;
$primary-tabs-hover-background-color: #bfbfbf;
$secondary-tabs-hover-background-color: #ffffff;

$third-tabs-background-color: #919191;
$third-tabs-hover-background-color: #646464;
$third-tabs-color: #ffffff;

// Notifications
$primary-notification-bg-color: #f28b00;
$secondary-notification-bg-color: #ffffff;
$primary-notification-border-color: #ffffff;

//Inputs
$primary-input-focus-color: #f28b00;

//Table
$primary-table-row-bg-color: #f1f1f1;

//Tooltip
$primary-tooltip-bg-color: #f1f1f1;

//Scrollbar
$primary-scroll-track-bg-color: #eeeeee;
$primary-scroll-thumb-bg-color: #cccccc;

//Tabs
$tabs-pipe-color: #9f9f9f;

//Warnings
$error-color: #f90000;
$success-color: #9cc435;
$note-color: #ffffcc;
