$primary-font: 'AvenirNextLTPro';
$secondary-font: 'Helvetica';
$third-font: 'HelveticaBold';

$primary-button-font-family: 'AvenirNextLTPro';

$primary-font-size: 13px;
$secondary-font-size: 15px;
$third-font-size: 12px;
$fourth-font-size: 14px;
$fiveth-font-size: 11px;
$sixth-font-size: 16px;
$seventh-font-size: 10px;
$eighth-font-size: 20px;

$primary-button-font-size: 13px;
$secondary-button-font-size: 15px;