$red: #f90000;
$mango-tango: #e67a02;
$tangerine: #f28b00;
$dark-orange: #ff8600;
$carrot-orange: #efa222;
$yellow-green: #9cc435;
$grey: #7b7b7b;
$dim-gray: #646464;
$charcoal: #484848;
$purple: #650c6f;
$medium-red-violet: #c12a72;
$smalt: #103993;
$islamic-green: #009900;
$deep-sky-blue: #00ddff;
$medium-turquoise: #45c3d9;
$havelock-blue: #537ecf;
$suva-grey: #919191;
$nobel: #9f9f9f;
$silver: #bfbfbf;
$very-light-grey: #cccccc;
$gainsboro: #dddddd;
$whisper: #e5e5e5;
$whisper-1: #eeeeee;
$white-smoke: #f1f1f1;
$snow: #faf9f9;
$cream: #ffffcc;
$white: #ffffff;
$white-smoke-2: #f5f5f5;
$black: #000000;