header
  .hb-container.hb-fluid
    .version-content
      span.version Version: 0.1
    .logo-content
      a.logo(href='/')
    .hb-container.menu
      ul
        li.circle-1
          a(href='https://github.com/hepsiburada/lembas') Download (0.1)
        li.circle-2
          a(href='/') Let's Start
        li.circle-3
          a(href='pages/documentation.html') Documentation
