head
  meta(charset='UTF-8')
  title Hepsiburada Styleguide
  link(rel='stylesheet', type='text/css', href='../static/main.css')
  link(href='../static/prettify/prettify.css', type='text/css', rel='stylesheet')
  script(type='text/javascript', src='../static/prettify/prettify.js')
