.title-wrapper
  span.title How can i use?
ul.navigation
  li.active
    a(href='/') Homepage
  li
    a(href='/pages/typography.html') Typography & Icons
  li
    a(href='/pages/colors.html') Colors
  li
    a(href='/pages/form-elements.html') Form Elements
  li
    a(href='/pages/horizontal-lists.html') Horizontal Lists
  li
    a(href='/pages/grid.html') Grid
  li
    a(href='/pages/personalize.html') Personalize
  li
    a(href='/pages/navigation.html') Navigation