.hb-input-group {

	.hb-input {
		&.select {
			width: 100%;
			height: 44px;
			box-sizing: border-box;
			resize: none;
			-webkit-appearance: none;
	    -moz-appearance: none;
	    text-indent: 1px;
	    text-overflow: '';

	    & + .icon, & + .placeholder + .icon {
	    	position: absolute;
	    	top: 19px;
	    	right: 14px;
	    	font-size: 10px;

	    	&:after {
	    		content: "";
	    		width: 2px;
	    		height: 32px;
	    		background-color: $secondary-border-color;
	    		position: absolute;
	    		top: -12px;
	    		left: -14px;
	    	}
	    }
		}
	}
}