$grid-length: 5;
$grid-map: 
(screen-large 1200px none lg) 
(screen-small 1024px 1199px md) 
(tablet-large 768px 1023px tb) 
(tablet-small 480px 767px tbs) 
(mobile-large 320px 479px sm) 
(mobile-small 240px 319px xsm);

.hb-part {
	@include clearfix;
	
	.hb-column {
		display: block;
		float: left;
		box-sizing: border-box;
		overflow: hidden;
		
		@each $breakpoint-name, $breakpoint, $breakpoint-max, $smg in $grid-map {
			@for $i from $grid-length through 1 {
				&.hb-col-#{$smg}-#{$i} {
					@if $breakpoint-max == none {
						@media screen and (min-width: $breakpoint) {
							width: $i * 20%;
						}
					} @else {
						@media screen and (min-width: $breakpoint) and (max-width: $breakpoint-max) {
							width: $i * 20%;
						}
					}
				}
			}
		}
	}
}