ul.hb-breadcrumb {
  @include clearfix;
  display: inline-block;

  li {
    width: auto;
    height: auto;
    white-space: nowrap;
    position: relative;
    padding: 0 21px 0 15px;
    font-family: $third-font;
    font-size: $third-font-size;
    font-weight: bold;
    float: left;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &:not(:last-child) {
      .icon {
        font-size: 8px;
        position: absolute;
        top: 0px;
        right: 0;
      }
    }

    a {
      display: block;
      color: $breadcrumb-font-color;
    }
  }
}
