extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
    +showcase()
      ul.hb-breadcrumb
        li
          a(href='http://www.hepsiburada.com', target='_blank') Ana Sayfa
          i.icon.icon-breadcrumb_arrow
        li
          a(href='http://www.hepsiburada.com/spor-outdoor-urunleri-c-60001546', target='_blank') Spor Outdoor
          i.icon.icon-breadcrumb_arrow
        li
          a(href='http://www.hepsiburada.com/outdoor-urunleri-c-2147483604', target='_blank') Outdoor
