extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
    +showcase()
      ul.hb-breadcrumb
        li
          a(href='http://www.hepsiburada.com', target='_blank') Anasayfa
        li
          a(href='http://www.hepsiburada.com/bilgisayarlar-c-2147483646', target='_blank') Bilgisayarlar
        li
          a(href='http://www.hepsiburada.com/laptop-notebook-dizustu-bilgisayarlar-c-98', target='_blank') Laptop ve Notebook
