extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
	+showcase()
		.hb-part
			.hb-column.hb-col-lg-4.hb-col-md-3.hb-col-tb-2.hb-col-tbs-5
				| hb-col-4
			.hb-column.hb-col-lg-1.hb-col-md-2.hb-col-tb-3.hb-col-tbs-5
				| hb-col-1
