extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
	#buttons.title-content
		h1
			| Navigasyon
			span.subtitle / Menü

	+showcase()
		.hb-navigation
			ul.menu
				li.menu-item
					a.menu-link
						span ELEKTRONİK
				li.menu-item
					a.menu-link.link(href="javascript:;")
						span MODA TAKI
				li.menu-item
					a.menu-link
						span EV, YAŞAM, KIRTASİYE, OFİS
				li.menu-item
					a.menu-link
						span OTO, BAHÇE, YAPI MARKET
				li.menu-item
					a.menu-link
						span ANNE, BEBEK OYUNCAK
				li.menu-item
					a.menu-link
						span SPOR OUTDOOR
				li.menu-item
					a.menu-link
						span KOZMETİK KİŞİSEL BAKIM
				li.menu-item
					a.menu-link
						span SÜPERMARKET PETSHOP
				li.menu-item
					a.menu-link
						span KİTAP, MÜZİK FİLM, HOBİ