extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
	#buttons.title-content
		h1
			| Navigasyon
			span.subtitle / Menü

	+showcase()
		.hb-navigation
			ul.hb-menu
				li.menu-item
					a.menu-link
						span ELEKTRONİK
				li.menu-item
					a.menu-link.link(href="javascript:;")
						i.hb-navigation-icon.moda
						span MODA TAKI
				li.menu-item
					a.menu-link
						span EV, YAŞAM, KIRTASİYE, OFİS
				li.menu-item
					a.menu-link
						span OTO, BAHÇE, YAPI MARKET
				li.menu-item
					a.menu-link
						span ANNE, BEBEK OYUNCAK
				li.menu-item
					a.menu-link
						span SPOR OUTDOOR
				li.menu-item
					a.menu-link
						span KOZMETİK KİŞİSEL BAKIM
				li.menu-item
					a.menu-link
						span SÜPERMARKET PETSHOP
				li.menu-item
					a.menu-link
						span KİTAP, MÜZİK FİLM, HOBİ
	br
	br
	#buttons.title-content
		h1
			| First Menu Style
			span.subtitle / First menu
	+showcase()
		.hb-navigation-vertical
			ul.hb-vertical-menu
				li
					a.hb-vertical-menu-title Bilgisayar Tablet
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Yazıcılar & Tarayıcılar
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Telefon
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Akıllı Ev & Yaşam
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title BTV, Görüntü & Ses Sistemleri
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Beyaz Eşya
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Elektrikli Ev Aletleri
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Foto & Kamera
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Isıtma ve Soğutma
						i.icon.hb-icon-next_arrow
				li
					a.hb-vertical-menu-title Oyun & Oyun Konsolları
						i.icon.hb-icon-next_arrow
	br
	br
	#buttons.title-content
		h1
			| Navigation Submenu
			span.subtitle / Submenu
	+showcase()
		.hb-navigation-sub-menu.hb-container
			.hb-part.hb-contain-lg-5.hb-contain-md-5.hb-contain-tb-3.hb-contain-tbs-3
				.hb-column.hb-col-lg-3.hb-col-md-3.hb-col-tb-3.hb-col-tbs-3.hb-col-4
					.hb-navigation-sub-menu-container
						ul.hb-sub-menu-column.hb-column.hb-col-lg-1.hb-col-md-1.hb-col-tb-1.hb-col-tbs-1
							li
								a Mobilya
								ul.hb-sub-menu-children
									li
										a Yatak Odası
										ul.hb-sub-menu-children
											li
												a.hb-sub-menu-item Gardırop, 
												a.hb-sub-menu-item Komodin, 
												a.hb-sub-menu-item Baza, 
												a.hb-sub-menu-item Başlık
									li
										a Oturma Odası
										ul.hb-sub-menu-children
											li
												a.hb-sub-menu-item Kanepe ve Koltuk, 
												a.hb-sub-menu-item Puf / Minder
									li
										a Yemek Odası
									li
										a Tv Sehpaları/Üniteleri
									li
										a Çalışma Odası
									li
										a Antre / Hol
									li
										a Genç Odası
									li
										a Bebek Odası
									li
										a Mutfak
						ul.hb-sub-menu-column.hb-column.hb-col-lg-1.hb-col-md-1.hb-col-tb-1.hb-col-tbs-1
							li
								a Ev Tekstili
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Yatak Odası Ürünleri, 
										a.hb-sub-menu-item Halı, 
										a.hb-sub-menu-item Perde, 
										a.hb-sub-menu-item Kilim, 
										a.hb-sub-menu-item Banyo Tekstili, 
										a.hb-sub-menu-item Ev Dekorasyon Ürünleri, 
										a.hb-sub-menu-item Yataklar, 
										a.hb-sub-menu-item Nevresim Takımları, 
										a.hb-sub-menu-item Yastık, 
										a.hb-sub-menu-item Yorgan, 
										a.hb-sub-menu-item Yatak Örtüsü
							li
								a Ev Dekorasyon
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Tasarım Ürünleri, 
										a.hb-sub-menu-item Duvar Saatleri, 
										a.hb-sub-menu-item Duvar Kağıtları, 
										a.hb-sub-menu-item Tablolar, 
										a.hb-sub-menu-item Aynalar
							li
								a Elektrik & Aydınlatma
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Abajur, 
										a.hb-sub-menu-item Ampuller, 
										a.hb-sub-menu-item Aplik, 
										a.hb-sub-menu-item Avize
							li
								a Ev ve Mutfak Gereçleri
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Mutfak Gereçleri, 
										a.hb-sub-menu-item Ev Gereçleri, 
										a.hb-sub-menu-item Tencereler, 
										a.hb-sub-menu-item Yemek Takımları, 
						ul.hb-sub-menu-column.hb-column.hb-col-lg-1.hb-col-md-1.hb-col-tb-1.hb-col-tbs-1
							li
								a Ofis / Kırtasiye
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Kırtasiye Ürünleri, 
										a.hb-sub-menu-item Ofis Makineleri, 
										a.hb-sub-menu-item Okul Ürünleri, 
										a.hb-sub-menu-item Fotokopi Kağıdı, 
										a.hb-sub-menu-item Projeksiyon Sistemleri, 
										a.hb-sub-menu-item Piller ve Şarj Cihazları, 
										a.hb-sub-menu-item Ofis Sarf Malzemeleri
							li
								a Ofis Mobilyaları
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Ofis Koltukları, 
										a.hb-sub-menu-item Para Kasaları, 
										a.hb-sub-menu-item Ofis Masaları, 
										a.hb-sub-menu-item Masa Takımları, 
										a.hb-sub-menu-item Ofis Dolapları, 
										a.hb-sub-menu-item Ayaklı Küllük
							li
								a Elektrikli Ev Aletleri
								ul.hb-sub-menu-children
									li
										a.hb-sub-menu-item Elektrikli Mutfak Aletleri, 
										a.hb-sub-menu-item Ütüler, 
										a.hb-sub-menu-item Süpürgeler, 
										a.hb-sub-menu-item Çay Makineleri, 
										a.hb-sub-menu-item Kahve Makineleri, 
										a.hb-sub-menu-item Tost Makinesi, 
										a.hb-sub-menu-item Blender

				.hb-column.hb-col-lg-2.hb-col-md-2.hb-col-tb-3.hb-col-tbs-3.hb-col-1
					.hb-banner-container
						a.hb-banner
							<img src="//design.hepsiburada.net/assets/storefront/banners/22-09-2016_1474560514907_1.png" />
						a.hb-banner
							<img src="//design.hepsiburada.net/assets/storefront/projeksiyon_1809.png" />
						a.hb-banner
							<img src="//design.hepsiburada.net/assets/storefront/banners/08-01-2017_1483731692959_1.png" />
						a.hb-banner
							<img src="//design.hepsiburada.net/assets/storefront/banners/17-01-2017_1484652321623_1.png" />

	br
	br
	#buttons.title-content
		h1
			| Navigasyon - Mobile
			span.subtitle / Mobile Menü


	+showcase()
		.hb-navigation-mobile
			i.icon.hb-icon-hamburger_menu
			.menu-content
				.menu-my-account
					i.icon.hb-icon-user_icon
					.menu-my-account-info
						.menu-my-account-caption Hesabım
						.menu-my-account-name Volkan Tağal
					.menu-my-account-items-content
						ul.menu-my-account-items
							li.my-account-item
								a.my-account-item-link Ana Sayfa
							li.my-account-item
								a.my-account-item-link Siparişlerim
				ul.hb-menu
					li.menu-item.active
						a.menu-link
							span ELEKTRONİK
							i.icon.hb-icon-down_arrow
						ul.sub-menu
							li.sub-menu-item.active
								a.sub-menu-item-link
									span Bilgisayar/Tablet
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
								ul.sub-sub-menu
									li.sub-sub-menu-item
										a Dizüstü Bilgisayar
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları
									li.sub-sub-menu-item
										a Tablet
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları

							li.sub-menu-item
								a.sub-menu-item-link
									span Yazıcılar/Tarayıcılar
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
								ul.sub-sub-menu
									li.sub-sub-menu-item
										a Dizüstü Bilgisayar
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları
									li.sub-sub-menu-item
										a Tablet
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları
							li.sub-menu-item
								a.sub-menu-item-link
									span Telefon
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
							li.sub-menu-item
								a.sub-menu-item-link
									span Tv Görüntü & Ses Sistemleri
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
							li.sub-menu-item
								a.sub-menu-item-link
									span Beyaz Eşya
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
							li.sub-menu-item
								a.sub-menu-item-link
									span Elektrikli Ev Aletleri
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link.link(href="javascript:;")
							span MODA TAKI
							i.icon.hb-icon-down_arrow
						ul.sub-menu
							li.sub-menu-item
								a Dizüstü Bilgisayar
									i.icon.hb-icon-indent_icon
								ul
									li 
										a Notebook
									li
										a 2'si 1 arada
									li
										a Oyun Bilgisayarları
							li.sub-menu-item
								a Tablet
									i.icon.hb-icon-indent_icon
								ul
									li 
										a Notebook
									li
										a 2'si 1 arada
									li
										a Oyun Bilgisayarları
					li.menu-item
						a.menu-link
							span EV, YAŞAM, KIRTASİYE, OFİS
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span OTO, BAHÇE, YAPI MARKET
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span ANNE, BEBEK OYUNCAK
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span SPOR OUTDOOR
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span KOZMETİK KİŞİSEL BAKIM
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span SÜPERMARKET PETSHOP
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span KİTAP, MÜZİK FİLM, HOBİ
							i.icon.hb-icon-down_arrow
