extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
	#buttons.title-content
		h1
			| Navigasyon
			span.subtitle / Menü

	+showcase()
		.hb-navigation
			ul.hb-menu
				li.menu-item
					a.menu-link
						span ELEKTRONİK
				li.menu-item
					a.menu-link.link(href="javascript:;")
						span MODA TAKI
				li.menu-item
					a.menu-link
						span EV, YAŞAM, KIRTASİYE, OFİS
				li.menu-item
					a.menu-link
						span OTO, BAHÇE, YAPI MARKET
				li.menu-item
					a.menu-link
						span ANNE, BEBEK OYUNCAK
				li.menu-item
					a.menu-link
						span SPOR OUTDOOR
				li.menu-item
					a.menu-link
						span KOZMETİK KİŞİSEL BAKIM
				li.menu-item
					a.menu-link
						span SÜPERMARKET PETSHOP
				li.menu-item
					a.menu-link
						span KİTAP, MÜZİK FİLM, HOBİ
	br
	br
	#buttons.title-content
		h1
			| Navigasyon - Mobile
			span.subtitle / Mobile Menü


	+showcase()
		.hb-navigation-mobile
			i.icon.hb-icon-hamburger_menu
			.menu-content
				.menu-my-account
					i.icon.hb-icon-user_icon
					.menu-my-account-info
						.menu-my-account-caption Hesabım
						.menu-my-account-name Volkan Tağal
					.menu-my-account-items-content
						ul.menu-my-account-items
							li.my-account-item
								a.my-account-item-link Ana Sayfa
							li.my-account-item
								a.my-account-item-link Siparişlerim
				ul.hb-menu
					li.menu-item.active
						a.menu-link
							span ELEKTRONİK
							i.icon.hb-icon-down_arrow
						ul.sub-menu
							li.sub-menu-item.active
								a.sub-menu-item-link
									span Bilgisayar/Tablet
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
								ul.sub-sub-menu
									li.sub-sub-menu-item
										a Dizüstü Bilgisayar
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları
									li.sub-sub-menu-item
										a Tablet
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları

							li.sub-menu-item
								a.sub-menu-item-link
									span Yazıcılar/Tarayıcılar
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
								ul.sub-sub-menu
									li.sub-sub-menu-item
										a Dizüstü Bilgisayar
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları
									li.sub-sub-menu-item
										a Tablet
											i.icon.hb-icon-indent_icon
										ul
											li 
												a Notebook
											li
												a 2'si 1 arada
											li
												a Oyun Bilgisayarları
							li.sub-menu-item
								a.sub-menu-item-link
									span Telefon
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
							li.sub-menu-item
								a.sub-menu-item-link
									span Tv Görüntü & Ses Sistemleri
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
							li.sub-menu-item
								a.sub-menu-item-link
									span Beyaz Eşya
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
							li.sub-menu-item
								a.sub-menu-item-link
									span Elektrikli Ev Aletleri
									i.icon.hb-icon-indent_icon
									i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link.link(href="javascript:;")
							span MODA TAKI
							i.icon.hb-icon-down_arrow
						ul.sub-menu
							li.sub-menu-item
								a Dizüstü Bilgisayar
									i.icon.hb-icon-indent_icon
								ul
									li 
										a Notebook
									li
										a 2'si 1 arada
									li
										a Oyun Bilgisayarları
							li.sub-menu-item
								a Tablet
									i.icon.hb-icon-indent_icon
								ul
									li 
										a Notebook
									li
										a 2'si 1 arada
									li
										a Oyun Bilgisayarları
					li.menu-item
						a.menu-link
							span EV, YAŞAM, KIRTASİYE, OFİS
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span OTO, BAHÇE, YAPI MARKET
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span ANNE, BEBEK OYUNCAK
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span SPOR OUTDOOR
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span KOZMETİK KİŞİSEL BAKIM
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span SÜPERMARKET PETSHOP
							i.icon.hb-icon-down_arrow
					li.menu-item
						a.menu-link
							span KİTAP, MÜZİK FİLM, HOBİ
							i.icon.hb-icon-down_arrow
