extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
	#buttons.title-content
		h1
			| Kişisel Alanlar
			span.subtitle / Kişiye özel alanlar

	elements-content
		#myAccount
			+showcase()
				.my-account
					i.icon.hb-icon-user_icon
					.hb-user-area
						a.hb-user-title Giriş Yap
						a.hb-user-subtitle ya da üye ol
					i.icon.hb-icon-down_arrow

	elements-content
		#myAccount
			+showcase()
				.my-account.login
					i.icon.hb-icon-user_icon
					.hb-user-area
						a.hb-user-title Hesabım
						a.hb-user-subtitle Volkan Tağal
					i.icon.icon-down_arrow

	elements-content
		#myBasket
			+showcase()
				.my-basket
					i.icon.hb-icon-basket_icon_solid_disabled
					span.bubble 2
					.hb-basket-text Sepetim
