extends ../partials/_template.pug
include ../partials/_mixin.pug
block content
	+showcase()
		.hb-account-tooltip
			.hb-account-tooltip-content
				ul.hb-account-tooltip-column
					li.hb-account-tooltip-item
						a Siparişlerim
					li.hb-account-tooltip-item
						a Hesabım
					li.hb-account-tooltip-item
						a Listelerim
				ul.hb-account-tooltip-column
					li.hb-account-tooltip-item
						a Fırsatlarım
					li.hb-account-tooltip-item
						a Hediye Çeklerim
				ul.hb-account-tooltip-column
					li.hb-account-tooltip-item
						a Mesajlarım
				ul.hb-account-tooltip-column
					li.hb-account-tooltip-item
						a Çıkış Yap
