extends ../partials/_template.pug
block content
  .type
    #type.title-content
      h1
        | Typography
        span.subtitle / Kullanılan font tipleri
    ul.fonts
      li.avenir
        span.font
          span.letter Aa Bb
          |              Avenir Next LT Pro ($primary-font)
      li.helvetica
        span.font
          span.letter Aa Bb
          |              Helvetica  ($secondary-font)
    br
    br
    #icons.title-content
      h1
        | İkonlar
        span.subtitle / Kullanılan ikonlar
    ul.icons
      li
        span.icons-element
          i.icon.hb-icon-a_z_sort
          span.sub-title "icon hb-icon-a_z_sort"
      li
        span.icons-element
          i.icon.hb-icon-add_to_fav
          span.sub-title "icon hb-icon-add_to_fav"
      li
        span.icons-element
          i.icon.hb-icon-android
          span.sub-title "icon hb-icon-android"
      li
        span.icons-element
          i.icon.hb-icon-basket_icon_line
          span.sub-title "icon hb-icon-basket_icon_line"
      li
        span.icons-element
          i.icon.hb-icon-basket_icon_solid_disabled
          span.sub-title "icon hb-icon-basket_icon_solid_disabled"
      li
        span.icons-element
          i.icon.hb-icon-best_seller_down
          span.sub-title "icon hb-icon-best_seller_down"
      li
        span.icons-element
          i.icon.hb-icon-best_seller_stand
          span.sub-title "icon hb-icon-best_seller_stand"
      li
        span.icons-element
          i.icon.hb-icon-best_seller_up
          span.sub-title "icon hb-icon-best_seller_up"
      li
        span.icons-element
          i.icon.hb-icon-breadcrumb-arrow
          span.sub-title "icon hb-icon-breadcrumb-arrow"
      li
        span.icons-element
          i.icon.hb-icon-checkbox_tick
          span.sub-title "icon hb-icon-checkbox_tick"
      li
        span.icons-element
          i.icon.hb-icon-close_popup
          span.sub-title "icon hb-icon-close_popup"
      li
        span.icons-element
          i.icon.hb-icon-comment_bubble
          span.sub-title "icon hb-icon-comment_bubble"
      li
        span.icons-element
          i.icon.hb-icon-compare
          span.sub-title "icon hb-icon-compare"
      li
        span.icons-element
          i.icon.hb-icon-down_arrow
          span.sub-title "icon hb-icon-down_arrow"
      li
        span.icons-element
          i.icon.hb-icon-down_arrow_gray
          span.sub-title "icon hb-icon-down_arrow_gray"
      li
        span.icons-element
          i.icon.hb-icon-down_arrow_orange
          span.sub-title "icon hb-icon-down_arrow_orange"
      li
        span.icons-element
          i.icon.hb-icon-facebook
          span.sub-title "icon hb-icon-facebook"
      li
        span.icons-element
          i.icon.hb-icon-filter-active
          span.sub-title "icon hb-icon-filter-active"
      li
        span.icons-element
          i.icon.hb-icon-filter
          span.sub-title "icon hb-icon-filter"
      li
        span.icons-element
          i.icon.hb-icon-footer_bugun_teslimat
          span.sub-title "icon hb-icon-footer_bugun_teslimat"
      li
        span.icons-element
          i.icon.hb-icon-footer_kolay_iade
          span.sub-title "icon hb-icon-footer_kolay_iade"
      li
        span.icons-element
          i.icon.hb-icon-footer_mobil_cebinizde
          span.sub-title "icon hb-icon-footer_mobil_cebinizde"
      li
        span.icons-element
          i.icon.hb-icon-footer_tek_tikla_alisveris
          span.sub-title "icon hb-icon-footer_tek_tikla_alisveris"
      li
        span.icons-element
          i.icon.hb-icon-google-plus
          span.sub-title "icon hb-icon-google-plus"
      li
        span.icons-element
          i.icon.hb-icon-grid_view
          span.sub-title "icon hb-icon-grid_view"
      li
        span.icons-element
          i.icon.hb-icon-hamburger_menu
          span.sub-title "icon hb-icon-hamburger_menu"
      li
        span.icons-element
          i.icon.hb-icon-menu_back_arrow
          span.sub-title "icon hb-icon-menu_back_arrow"
      li
        span.icons-element
          i.icon.hb-icon-indent_icon
          span.sub-title "icon hb-icon-indent_icon"
      li
        span.icons-element
          i.icon.hb-icon-info
          span.sub-title "icon hb-icon-info"
      li
        span.icons-element
          i.icon.hb-icon-info_icon
          span.sub-title "icon hb-icon-info_icon"
      li
        span.icons-element
          i.icon.hb-icon-instagram
          span.sub-title "icon hb-icon-instagram"
      li
        span.icons-element
          i.icon.hb-icon-ipad_icon
          span.sub-title "icon hb-icon-ipad_icon"
      li
        span.icons-element
          i.icon.hb-icon-iphone_icon
          span.sub-title "icon hb-icon-iphone_icon"
      li
        span.icons-element
          i.icon.hb-icon-linkedin
          span.sub-title "icon hb-icon-linkedin"
      li
        span.icons-element
          i.icon.hb-icon-list_view
          span.sub-title "icon hb-icon-list_view"
      li
        span.icons-element
          i.icon.hb-icon-mobile_search_icon
          span.sub-title "icon hb-icon-mobile_search_icon"
      li
        span.icons-element
          i.icon.hb-icon-next_arrow
          span.sub-title "icon hb-icon-next_arrow"
      li
        span.icons-element
          i.icon.hb-icon-no_result_icon
          span.sub-title "icon hb-icon-no_result_icon"
      li
        span.icons-element
          i.icon.hb-icon-occ_icon
          span.sub-title "icon hb-icon-occ_icon"
      li
        span.icons-element
          i.icon.hb-icon-placeholder
          span.sub-title "icon hb-icon-placeholder"
      li
        span.icons-element
          i.icon.hb-icon-preorder
          span.sub-title "icon hb-icon-preorder"
      li
        span.icons-element
          i.icon.hb-icon-previous_arrow
          span.sub-title "icon hb-icon-previous_arrow"
      li
        span.icons-element
          i.icon.hb-icon-price_alarm
          span.sub-title "icon hb-icon-price_alarm"
      li
        span.icons-element
          i.icon.hb-icon-review
          span.sub-title "icon hb-icon-review"
      li
        span.icons-element
          i.icon.hb-icon-right_arrow_blue
          span.sub-title "icon hb-icon-right_arrow_blue"
      li
        span.icons-element
          i.icon.hb-icon-search_icon
          span.sub-title "icon hb-icon-search_icon"
      li
        span.icons-element
          i.icon.hb-icon-selectbox_arrow
          span.sub-title "icon hb-icon-selectbox_arrow"
      li
        span.icons-element
          i.icon.hb-icon-seller_icon
          span.sub-title "icon hb-icon-seller_icon"
      li
        span.icons-element
          i.icon.hb-icon-share
          span.sub-title "icon hb-icon-share"
      li
        span.icons-element
          i.icon.hb-icon-special_price_discount_icon
          span.sub-title "icon hb-icon-special_price_discount_icon"
      li
        span.icons-element
          i.icon.hb-icon-table_sort_icon
          span.sub-title "icon hb-icon-table_sort_icon"
      li
        span.icons-element
          i.icon.hb-icon-table_sort_icon
          span.sub-title "icon hb-icon-table_sort_icon"
      li
        span.icons-element
          i.icon.hb-icon-twitter
          span.sub-title "icon hb-icon-twitter"
      li
        span.icons-element
          i.icon.hb-icon-variant_warning_icon
          span.sub-title "icon hb-icon-variant_warning_icon"
      li
        span.icons-element
          i.icon.hb-icon-youtube
          span.sub-title "icon hb-icon-youtube"
