extends ../partials/_template.pug
block content
  .type
    #type.title-content
      h1
        | Typography
        span.subtitle / Kullanılan font tipleri
    ul.fonts
      li.avenir
        span.font
          span.letter Aa Bb
          |              Avenir Next LT Pro ($primary-font)
      li.helvetica
        span.font
          span.letter Aa Bb
          |              Helvetica  ($secondary-font)
    br
    br
    #icons.title-content
      h1
        | İkonlar
        span.subtitle / Kullanılan ikonlar
    ul.icons
      li
        span.icons-element
          i.icon.icon-a_z_sort
          span.sub-title "icon icon-a_z_sort"
      li
        span.icons-element
          i.icon.icon-add_to_fav
          span.sub-title "icon icon-add_to_fav"
      li
        span.icons-element
          i.icon.icon-android
          span.sub-title "icon icon-android"
      li
        span.icons-element
          i.icon.icon-basket_icon_line
          span.sub-title "icon icon-basket_icon_line"
      li
        span.icons-element
          i.icon.icon-basket_icon_solid_disabled
          span.sub-title "icon icon-basket_icon_solid_disabled"
      li
        span.icons-element
          i.icon.icon-best_seller_down
          span.sub-title "icon icon-best_seller_down"
      li
        span.icons-element
          i.icon.icon-best_seller_stand
          span.sub-title "icon icon-best_seller_stand"
      li
        span.icons-element
          i.icon.icon-best_seller_up
          span.sub-title "icon icon-best_seller_up"
      li
        span.icons-element
          i.icon.icon-breadcrumb-arrow
          span.sub-title "icon icon-breadcrumb-arrow"
      li
        span.icons-element
          i.icon.icon-checkbox_tick
          span.sub-title "icon icon-checkbox_tick"
      li
        span.icons-element
          i.icon.icon-close_popup
          span.sub-title "icon icon-close_popup"
      li
        span.icons-element
          i.icon.icon-comment_bubble
          span.sub-title "icon icon-comment_bubble"
      li
        span.icons-element
          i.icon.icon-compare
          span.sub-title "icon icon-compare"
      li
        span.icons-element
          i.icon.icon-down_arrow
          span.sub-title "icon icon-down_arrow"
      li
        span.icons-element
          i.icon.icon-down_arrow_gray
          span.sub-title "icon icon-down_arrow_gray"
      li
        span.icons-element
          i.icon.icon-down_arrow_orange
          span.sub-title "icon icon-down_arrow_orange"
      li
        span.icons-element
          i.icon.icon-facebook
          span.sub-title "icon icon-facebook"
      li
        span.icons-element
          i.icon.icon-filter-active
          span.sub-title "icon icon-filter-active"
      li
        span.icons-element
          i.icon.icon-filter
          span.sub-title "icon icon-filter"
      li
        span.icons-element
          i.icon.icon-footer_bugun_teslimat
          span.sub-title "icon icon-footer_bugun_teslimat"
      li
        span.icons-element
          i.icon.icon-footer_kolay_iade
          span.sub-title "icon icon-footer_kolay_iade"
      li
        span.icons-element
          i.icon.icon-footer_mobil_cebinizde
          span.sub-title "icon icon-footer_mobil_cebinizde"
      li
        span.icons-element
          i.icon.icon-footer_tek_tikla_alisveris
          span.sub-title "icon icon-footer_tek_tikla_alisveris"
      li
        span.icons-element
          i.icon.icon-google-plus
          span.sub-title "icon icon-google-plus"
      li
        span.icons-element
          i.icon.icon-grid_view
          span.sub-title "icon icon-grid_view"
      li
        span.icons-element
          i.icon.icon-hamburger_menu
          span.sub-title "icon icon-hamburger_menu"
      li
        span.icons-element
          i.icon.icon-info
          span.sub-title "icon icon-info"
      li
        span.icons-element
          i.icon.icon-info_icon
          span.sub-title "icon icon-info_icon"
      li
        span.icons-element
          i.icon.icon-instagram
          span.sub-title "icon icon-instagram"
      li
        span.icons-element
          i.icon.icon-ipad_icon
          span.sub-title "icon icon-ipad_icon"
      li
        span.icons-element
          i.icon.icon-iphone_icon
          span.sub-title "icon icon-iphone_icon"
      li
        span.icons-element
          i.icon.icon-linkedin
          span.sub-title "icon icon-linkedin"
      li
        span.icons-element
          i.icon.icon-list_view
          span.sub-title "icon icon-list_view"
      li
        span.icons-element
          i.icon.icon-mobile_search_icon
          span.sub-title "icon icon-mobile_search_icon"
      li
        span.icons-element
          i.icon.icon-next_arrow
          span.sub-title "icon icon-next_arrow"
      li
        span.icons-element
          i.icon.icon-no_result_icon
          span.sub-title "icon icon-no_result_icon"
      li
        span.icons-element
          i.icon.icon-occ_icon
          span.sub-title "icon icon-occ_icon"
      li
        span.icons-element
          i.icon.icon-placeholder
          span.sub-title "icon icon-placeholder"
      li
        span.icons-element
          i.icon.icon-preorder
          span.sub-title "icon icon-preorder"
      li
        span.icons-element
          i.icon.icon-previous_arrow
          span.sub-title "icon icon-previous_arrow"
      li
        span.icons-element
          i.icon.icon-price_alarm
          span.sub-title "icon icon-price_alarm"
      li
        span.icons-element
          i.icon.icon-review
          span.sub-title "icon icon-review"
      li
        span.icons-element
          i.icon.icon-right_arrow_blue
          span.sub-title "icon icon-right_arrow_blue"
      li
        span.icons-element
          i.icon.icon-search_icon
          span.sub-title "icon icon-search_icon"
      li
        span.icons-element
          i.icon.icon-selectbox_arrow
          span.sub-title "icon icon-selectbox_arrow"
      li
        span.icons-element
          i.icon.icon-seller_icon
          span.sub-title "icon icon-seller_icon"
      li
        span.icons-element
          i.icon.icon-share
          span.sub-title "icon icon-share"
      li
        span.icons-element
          i.icon.icon-special_price_discount_icon
          span.sub-title "icon icon-special_price_discount_icon"
      li
        span.icons-element
          i.icon.icon-table_sort_icon
          span.sub-title "icon icon-table_sort_icon"
      li
        span.icons-element
          i.icon.icon-table_sort_icon
          span.sub-title "icon icon-table_sort_icon"
      li
        span.icons-element
          i.icon.icon-twitter
          span.sub-title "icon icon-twitter"
      li
        span.icons-element
          i.icon.icon-variant_warning_icon
          span.sub-title "icon icon-variant_warning_icon"
      li
        span.icons-element
          i.icon.icon-youtube
          span.sub-title "icon icon-youtube"
