$menu-height: 48px;

.hb-navigation {
	@include global-shadow;
	width: 100%;
	height: $menu-height;
	background-color: $navigation-bg;

	ul.hb-menu {
		max-width: $site-max-width;
		height: $menu-height;
		margin: 0 auto;
		position: relative;

		.hb-navigation-sub-menu {
			position: absolute;
			width: 0px;
			height: 0px;
			padding: 0px;
			visibility: hidden;
			overflow: hidden;
			top: 100%;
			left: 0px;
			z-index: 2;

			&.first {
				width: 100%;
				padding-top: 16px;
				padding-left: calc(20% + 24px);
				background-color: $secondary-bg-color;
				position: absolute;
			    top: 0px;
			    left: 0px;
			    z-index: 0;
			}
		}

		li.menu-item {
			width: calc(100%/9);
			height: $menu-height;
			float: left;

			a.menu-link {
				@include transition(none);
				width: 100%;
				height: $menu-height;
				display: table;
				padding: 0 10px;
				border-top: 5px solid $navigation-bg;
				border-bottom: 5px solid $navigation-bg;
				color: $third-font-color;
				text-align: center;
				position: relative;

				span {
					display: table-cell;
					vertical-align: middle;

					&:before, &:after {
						content: "";
						width: 1px;
						height: 24px;
						background-color: $navigation-pipe-color;
						position: absolute;
					}

					&:before {
						top: 7px;
						left: -1px;
					}

					&:after {
						top: 7px;
						right: 0px;
					}
				}

				&.link {
					background-color: $navigation-secondary-bg;
					border-top: 5px solid $navigation-secondary-bg;
					border-bottom: 5px solid $navigation-secondary-bg;
					padding-right: 64px;
					text-align: left;

					.hb-navigation-icon {
						position: absolute;
						bottom: -5px;
						right: 4px;

						&.moda {
							@include retina-sprite($moda-menu-group);
						}
					}
				}
			}

			&:last-child {
				a.menu-link {
					span {
						&:after {
							width: 2px;
							right: -1px;
						}
					}
				}
			}

			&:first-child {
				a.menu-link {
					span {
						&:before {
							width: 2px;
						}
					}
				}
			}

			&:hover {
				a.menu-link {
					@include transition(none);
					background-color: $navigation-hover-bg;
					border-bottom: 5px solid $navigation-hover-bg;
					color: $navigation-hover-font-color;

					&.link {
						border-top: 5px solid $white;
						color: $navigation-secondary-hover-font-color;
					}

					span {
						&:before, &:after {
							display: none;
						}
					}
				}

				.hb-navigation-sub-menu {
					@include transition-delay($animation-timing);
					width: 100%;
					height: auto;
					min-height: 380px;
					padding: $space-6x $space-4x;
					visibility: visible;
				}

				.hb-navigation-vertical {
					@include transition-delay($animation-timing);
					width: 100%;
					height: auto;
					visibility: visible;
				}
			}
		}
	}

	.hb-navigation-vertical {
		width: 0px;
		height: 0px;
		visibility: hidden;
		position: absolute;
		top: 100%;
		left: 0px;
	}
}

.hb-navigation-vertical {
	.hb-vertical-menu {
		width: 20%;
		padding: $space-2x 0 $space-2x $space-2x;
		background-color: $secondary-bg-color;

		li {
			padding: $space 0;
			margin: 0px;

			&.inline {
				display: inline;
			}
			
			&:hover {
				&:after {
					content: '';
					height: 100%;
					border-right: 5px solid $primary-hover-link-color;
					position: absolute;
					top: 0px;
					right: 0px;
				}
			}
		}

		.hb-vertical-menu-title {
			display: block;
			padding-right: $space-3x;
			font-size: $fourth-font-size;
			color: $navigation-category-color;
			font-family: $third-font;
			line-height: 1.3;
			position: relative;

			&.maintainHover {
				padding-right: $space-2x;
				color: $primary-hover-link-color;

				.icon {
					color: inherit;
				}
			}

			.icon {
				@include vertical-center;
				right: $space-2x;
				color: $primary-font-color;
			}
		}
	}
}

.hb-navigation-sub-menu {
	padding: $space-6x $space-4x;
	background-color: $secondary-bg-color;

	.hb-navigation-sub-menu-container {
		@include clearfix;
		padding-right: $space-2x;
		font-family: $secondary-font;

		.hb-sub-menu-column {
			padding-right: $space-2x;

			li {
				& > a {
					display: block;
					margin-bottom: $space;
					font-family: $third-font;
					font-size: $secondary-font-size;
					color: $primary-price-font-color;
				}
			}

			.hb-sub-menu-children {
				padding-bottom: $space-2x;

				li {
					& > a {
						color: $primary-font-color;
						font-size: $primary-font-size;
						display: block;

						&.hb-sub-menu-item {
							display: inline;
							font-family: $secondary-font;
							word-wrap: initial;
	    				line-height: 1.3;

	    				&:hover {
	    					color: $primary-price-font-color;
	    				}
						}
					}
				}

				.hb-sub-menu-children {
					li {
						& > a {
							font-family: $secondary-font;
							display: inline;
						}
					}
				}
			}
		}
	}

	.hb-banner-container {
		@include clearfix;

		.hb-banner {
			display: block;
	    float: left;
	    margin-bottom: $space;
	    margin-right: $space;
		}
	}
}