.hb-navigation-mobile {
	font-family: $primary-font;
	color: $primary-font-color;

	.hb-icon-hamburger_menu {
		font-size: 17px;
		color: inherit;
	}

	.menu-content {
		.menu-my-account {
			width: 100%;
			position: relative;
			
			.hb-icon-user_icon {
				font-size: 20px;
				position: absolute;
				top: 18px;
				left: 18px;
			}

			.menu-my-account-info {
				height: 56px;
				padding: $space-2x 0 $space-2x $space-6x;
				background-color: $primary-tabs-background-color;

				.menu-my-account-caption {
					display: block;
					font-size: $primary-font-size;
				}

				.menu-my-account-name {
					display: block;
					font-size: 9px;
				}
			}
			
			.menu-my-account-items-content {
				padding: 0 $space;

				.menu-my-account-items {
					padding-bottom: $space-2x;
					border-bottom: 1px solid $primary-border-color;

					.my-account-item {
						width: auto;
						
						.my-account-item-link {
							width: auto;
							height: 50px;
							display: block;
							padding: 17px $space;
						}
					}
				}
			}
			
		}

		.menu {
			padding: $space;

			.menu-item {
				.menu-link {
					display: block;
					padding: $space-2x $space 15px;
					position: relative;
					line-height: 1;

					i.icon {
						font-size: 5px;
						position: absolute;
						top: 19px;
						right: 19px;
					}
				}

				&.active {
					& > a {
						background-color: $navigation-mobile-active-item-primary-bg;
						color: $third-font-color;

						i.icon {
							@include transform(rotate(180deg));
						}
					}

					.sub-menu {
						display: block !important;
					}
				}

				&:not(:first-child) {
					.sub-menu {
						display: none;
						padding: 0 $space;
						background-color: $navigation-mobile-bg;

						.sub-menu-item {
							padding: $space-2x $space-4x;

							& > a {
								display: block;
								margin-bottom: $space-4x;
								color: $secondary-link-color;
								font-size: $primary-font-size;
								position: relative;

								i.hb-icon-indent_icon {
									position: absolute;
									top: -4px;
									left: -16px;
								}
							}

							ul {
								li {
									display: block;
									margin-bottom: $space-4x;

									&:last-child {
										margin-bottom: 0px;
									}

									a {
										color: $primary-font-color;
										font-family: $secondary-font;
										font-size: $primary-font-size;
									}
								}
							}
						}
					}
				}
			}

			.sub-menu {
				display: none;

				.sub-menu-item {
					background-color: $navigation-mobile-bg;

					&.active {

						.sub-menu-item-link {
							background-color: $navigation-mobile-active-item-secondary-bg;
							color: $third-font-color;

							i.hb-icon-indent_icon {
								display: block;
							}
						}

						.sub-sub-menu {
							display: block;
						}
					}
					.sub-menu-item-link {
						display: block;
						padding: $space-2x $space-3x 15px;
						background-color: $navigation-mobile-bg;
						position: relative;
						line-height: 1;

						i.hb-icon-indent_icon {
							display: none;
							color: $primary-bg-color;
							position: absolute;
							top: 14px;
							left: $space;
						}

						i.hb-icon-down_arrow {
							font-size: 5px;
							position: absolute;
							top: 19px;
							right: 19px;
						}
					}
				}
			}

			.sub-sub-menu {
				display: none;
				padding: 0 $space;

				.sub-sub-menu-item {
					background-color: $navigation-mobile-item-bg;
					padding: $space-2x $space-4x;

					& > a {
						display: block;
						margin-bottom: $space-4x;
						color: $secondary-link-color;
						font-size: $primary-font-size;
						position: relative;

						i.hb-icon-indent_icon {
							position: absolute;
							top: -4px;
							left: -16px;
						}
					}

					ul {
						li {
							display: block;
							margin-bottom: $space-4x;

							&:last-child {
								margin-bottom: 0px;
							}

							a {
								color: $primary-font-color;
								font-family: $secondary-font;
								font-size: $primary-font-size;
							}
						}
					}
				}
			}

		}
	}
}