.hb-breadcrumb-wrapper {
	.hb-breadcrumb {
		@include clearfix;
		display: block;

		li {
			width: auto;
			height: auto;
			white-space: nowrap;
			position: relative;
			padding: 0 17px 0 15px;
			font-family: $secondary-font;
			font-size: $third-font-size;
			font-weight: bold;
			float: left;
			
			&:first-child {
				padding-left: 0px;
			}

			&:last-child {
				padding-right: 0px;

				&:after {
					display: none;
				}
			}

			&:after {
				content: ">";
				position: absolute;
				top: 0px;
				right: 0px;
			}

			a {
				display: block;
				color: $breadcrumb-font-color;
			}
		}
	}
}