@font-face {
	font-family: "HbSpecialFont";
	src: url('#{$styleguide-webfont-path}/HbFont/HbSpecialFont.eot');
	src: url('#{$styleguide-webfont-path}/HbFont/HbSpecialFont.eot?#iefix') format('eot'),
		url('#{$styleguide-webfont-path}/HbFont/HbSpecialFont.woff2') format('woff2'),
		url('#{$styleguide-webfont-path}/HbFont/HbSpecialFont.woff') format('woff'),
		url('#{$styleguide-webfont-path}/HbFont/HbSpecialFont.ttf') format('truetype'),
		url('#{$styleguide-webfont-path}/HbFont/HbSpecialFont.svg#HbSpecialFont') format('svg');
}

@mixin hb-icon-styles {
	font-family: "HbSpecialFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%hb-icon {
	@include hb-icon-styles;
}

@function hb-icon-char($filename) {
	$char: "";

	@if $filename == add_to_fav {
		$char: "\E001";
	}
	@if $filename == android {
		$char: "\E002";
	}
	@if $filename == a_z_sort {
		$char: "\E003";
	}
	@if $filename == basket_icon_line {
		$char: "\E004";
	}
	@if $filename == basket_icon_solid_disabled {
		$char: "\E005";
	}
	@if $filename == best_seller_down {
		$char: "\E006";
	}
	@if $filename == best_seller_stand {
		$char: "\E007";
	}
	@if $filename == best_seller_up {
		$char: "\E008";
	}
	@if $filename == breadcrumb_arrow {
		$char: "\E009";
	}
	@if $filename == checkbox_tick {
		$char: "\E00A";
	}
	@if $filename == close_popup {
		$char: "\E00B";
	}
	@if $filename == comment_bubble {
		$char: "\E00C";
	}
	@if $filename == compare {
		$char: "\E00D";
	}
	@if $filename == down_arrow {
		$char: "\E00E";
	}
	@if $filename == down_arrow_gray {
		$char: "\E00F";
	}
	@if $filename == down_arrow_orange {
		$char: "\E010";
	}
	@if $filename == facebook {
		$char: "\E011";
	}
	@if $filename == filter-active {
		$char: "\E012";
	}
	@if $filename == filter {
		$char: "\E013";
	}
	@if $filename == footer_bugun_teslimat {
		$char: "\E014";
	}
	@if $filename == footer_kolay_iade {
		$char: "\E015";
	}
	@if $filename == footer_mobil_cebinizde {
		$char: "\E016";
	}
	@if $filename == footer_tek_tikla_alisveris {
		$char: "\E017";
	}
	@if $filename == google-plus {
		$char: "\E018";
	}
	@if $filename == grid_view {
		$char: "\E019";
	}
	@if $filename == hamburger_menu {
		$char: "\E01A";
	}
	@if $filename == info {
		$char: "\E01B";
	}
	@if $filename == info_icon {
		$char: "\E01C";
	}
	@if $filename == instagram {
		$char: "\E01D";
	}
	@if $filename == ipad_icon {
		$char: "\E01E";
	}
	@if $filename == iphone_icon {
		$char: "\E01F";
	}
	@if $filename == linkedin {
		$char: "\E020";
	}
	@if $filename == list_view {
		$char: "\E021";
	}
	@if $filename == mobile_search_icon {
		$char: "\E022";
	}
	@if $filename == next_arrow {
		$char: "\E023";
	}
	@if $filename == no_result_icon {
		$char: "\E024";
	}
	@if $filename == occ_icon {
		$char: "\E025";
	}
	@if $filename == placeholder {
		$char: "\E026";
	}
	@if $filename == preorder {
		$char: "\E027";
	}
	@if $filename == previous_arrow {
		$char: "\E028";
	}
	@if $filename == price_alarm {
		$char: "\E029";
	}
	@if $filename == review {
		$char: "\E02A";
	}
	@if $filename == right_arrow_blue {
		$char: "\E02B";
	}
	@if $filename == search_icon {
		$char: "\E02C";
	}
	@if $filename == selectbox_arrow {
		$char: "\E02D";
	}
	@if $filename == seller_icon {
		$char: "\E02E";
	}
	@if $filename == share {
		$char: "\E02F";
	}
	@if $filename == special_price_discount_icon {
		$char: "\E030";
	}
	@if $filename == table_sort_icon {
		$char: "\E031";
	}
	@if $filename == twitter {
		$char: "\E032";
	}
	@if $filename == user_icon {
		$char: "\E033";
	}
	@if $filename == variant_warning_icon {
		$char: "\E034";
	}
	@if $filename == youtube {
		$char: "\E035";
	}

	@return $char;
}

@mixin hb-icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %hb-icon;
		} @else {
			@include hb-icon-styles;
		}
		content: hb-icon-char($filename);
	}
}

.hb-icon-add_to_fav {
	@include hb-icon(add_to_fav);
}
.hb-icon-android {
	@include hb-icon(android);
}
.hb-icon-a_z_sort {
	@include hb-icon(a_z_sort);
}
.hb-icon-basket_icon_line {
	@include hb-icon(basket_icon_line);
}
.hb-icon-basket_icon_solid_disabled {
	@include hb-icon(basket_icon_solid_disabled);
}
.hb-icon-best_seller_down {
	@include hb-icon(best_seller_down);
}
.hb-icon-best_seller_stand {
	@include hb-icon(best_seller_stand);
}
.hb-icon-best_seller_up {
	@include hb-icon(best_seller_up);
}
.hb-icon-breadcrumb_arrow {
	@include hb-icon(breadcrumb_arrow);
}
.hb-icon-checkbox_tick {
	@include hb-icon(checkbox_tick);
}
.hb-icon-close_popup {
	@include hb-icon(close_popup);
}
.hb-icon-comment_bubble {
	@include hb-icon(comment_bubble);
}
.hb-icon-compare {
	@include hb-icon(compare);
}
.hb-icon-down_arrow {
	@include hb-icon(down_arrow);
}
.hb-icon-down_arrow_gray {
	@include hb-icon(down_arrow_gray);
}
.hb-icon-down_arrow_orange {
	@include hb-icon(down_arrow_orange);
}
.hb-icon-facebook {
	@include hb-icon(facebook);
}
.hb-icon-filter-active {
	@include hb-icon(filter-active);
}
.hb-icon-filter {
	@include hb-icon(filter);
}
.hb-icon-footer_bugun_teslimat {
	@include hb-icon(footer_bugun_teslimat);
}
.hb-icon-footer_kolay_iade {
	@include hb-icon(footer_kolay_iade);
}
.hb-icon-footer_mobil_cebinizde {
	@include hb-icon(footer_mobil_cebinizde);
}
.hb-icon-footer_tek_tikla_alisveris {
	@include hb-icon(footer_tek_tikla_alisveris);
}
.hb-icon-google-plus {
	@include hb-icon(google-plus);
}
.hb-icon-grid_view {
	@include hb-icon(grid_view);
}
.hb-icon-hamburger_menu {
	@include hb-icon(hamburger_menu);
}
.hb-icon-info {
	@include hb-icon(info);
}
.hb-icon-info_icon {
	@include hb-icon(info_icon);
}
.hb-icon-instagram {
	@include hb-icon(instagram);
}
.hb-icon-ipad_icon {
	@include hb-icon(ipad_icon);
}
.hb-icon-iphone_icon {
	@include hb-icon(iphone_icon);
}
.hb-icon-linkedin {
	@include hb-icon(linkedin);
}
.hb-icon-list_view {
	@include hb-icon(list_view);
}
.hb-icon-mobile_search_icon {
	@include hb-icon(mobile_search_icon);
}
.hb-icon-next_arrow {
	@include hb-icon(next_arrow);
}
.hb-icon-no_result_icon {
	@include hb-icon(no_result_icon);
}
.hb-icon-occ_icon {
	@include hb-icon(occ_icon);
}
.hb-icon-placeholder {
	@include hb-icon(placeholder);
}
.hb-icon-preorder {
	@include hb-icon(preorder);
}
.hb-icon-previous_arrow {
	@include hb-icon(previous_arrow);
}
.hb-icon-price_alarm {
	@include hb-icon(price_alarm);
}
.hb-icon-review {
	@include hb-icon(review);
}
.hb-icon-right_arrow_blue {
	@include hb-icon(right_arrow_blue);
}
.hb-icon-search_icon {
	@include hb-icon(search_icon);
}
.hb-icon-selectbox_arrow {
	@include hb-icon(selectbox_arrow);
}
.hb-icon-seller_icon {
	@include hb-icon(seller_icon);
}
.hb-icon-share {
	@include hb-icon(share);
}
.hb-icon-special_price_discount_icon {
	@include hb-icon(special_price_discount_icon);
}
.hb-icon-table_sort_icon {
	@include hb-icon(table_sort_icon);
}
.hb-icon-twitter {
	@include hb-icon(twitter);
}
.hb-icon-user_icon {
	@include hb-icon(user_icon);
}
.hb-icon-variant_warning_icon {
	@include hb-icon(variant_warning_icon);
}
.hb-icon-youtube {
	@include hb-icon(youtube);
}
