/* desert scheme ported from vim to google prettify */
xmp.prettyprint { display: block; background-color: #2b2b2b }
xmp .nocode { background-color: none; color: #000 }
xmp .str { color: #a9b7c6 } /* string */
xmp .kwd { color: #f0e68c; font-weight: bold }
xmp .com { color: #808080 } /* comment  */
xmp .typ { color: #98fb98 } /* type */
xmp .lit { color: #cd5c5c } /* literal */
xmp .pun { color: #fff }    /* punctuation */
xmp .pln { color: #fff }    /* plaintext */
xmp .tag { color: #E8BF6A; font-weight: bold } 
xmp .atn { color: #bababa; font-weight: bold } 
xmp .atv { color: #A5C261 } /* attribute value */
xmp .dec { color: #6D9CBE } /* decimal */

/* Specify class=linenums on a xmp to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  xmp.prettyprint { background-color: none }
  xmp .str, code .str { color: #060 }
  xmp .kwd, code .kwd { color: #006; font-weight: bold }
  xmp .com, code .com { color: #600; font-style: italic }
  xmp .typ, code .typ { color: #404; font-weight: bold }
  xmp .lit, code .lit { color: #044 }
  xmp .pun, code .pun { color: #440 }
  xmp .pln, code .pln { color: #000 }
  xmp .tag, code .tag { color: #006; font-weight: bold }
  xmp .atn, code .atn { color: #060 }
  xmp .atv, code .atv { color: #404 }
}
