@font-face {
  font-family: 'AvenirNextLTPro';
  src: url("../../content/fonts/AvenirNextLTPro/AvenirNextLTPro.eot");
  src: url("../../content/fonts/AvenirNextLTPro/AvenirNextLTPro.eot?#iefix") format("embedded-opentype"), url("../../content/fonts/AvenirNextLTPro/AvenirNextLTPro.woff") format("woff"), url("../../content/fonts/AvenirNextLTPro/AvenirNextLTPro.ttf") format("truetype"), url("../../content/fonts/AvenirNextLTPro/AvenirNextLTPro.otf") format("opentype"), url("../../content/fonts/AvenirNextLTPro/AvenirNextLTPro.svg#AvenirNextLTPro") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0-10FFFF; }

@font-face {
  font-family: "icons";
  src: url("../../content/fonts/HbFont/hb-special-font.eot?e33e517ca92b105b7f1fb155cadc0d0b");
  src: url("../../content/fonts/HbFont/hb-special-font.eot?#iefix") format("embedded-opentype"), url("../../content/fonts/HbFont/hb-special-font.ttf?e33e517ca92b105b7f1fb155cadc0d0b") format("truetype"), url("../../content/fonts/HbFont/hb-special-font.svg?e33e517ca92b105b7f1fb155cadc0d0b#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon_a_z_sort:before {
  content: "\f101"; }

.icon_add_to_fav:before {
  content: "\f102"; }

.icon_android:before {
  content: "\f103"; }

.icon_basket_icon_line:before {
  content: "\f104"; }

.icon_basket_icon_solid_disabled:before {
  content: "\f105"; }

.icon_best_seller_down:before {
  content: "\f106"; }

.icon_best_seller_stand:before {
  content: "\f107"; }

.icon_best_seller_up:before {
  content: "\f108"; }

.icon_checkbox_tick:before {
  content: "\f109"; }

.icon_close_popup:before {
  content: "\f10a"; }

.icon_comment_bubble:before {
  content: "\f10b"; }

.icon_compare:before {
  content: "\f10c"; }

.icon_down_arrow:before {
  content: "\f10d"; }

.icon_down_arrow_gray:before {
  content: "\f10e"; }

.icon_down_arrow_orange:before {
  content: "\f10f"; }

.icon_facebook:before {
  content: "\f110"; }

.icon_filter-active:before {
  content: "\f111"; }

.icon_filter:before {
  content: "\f112"; }

.icon_footer_bugun_teslimat:before {
  content: "\f113"; }

.icon_footer_kolay_iade:before {
  content: "\f114"; }

.icon_footer_mobil_cebinizde:before {
  content: "\f115"; }

.icon_footer_tek_tikla_alisveris:before {
  content: "\f116"; }

.icon_google-plus:before {
  content: "\f117"; }

.icon_grid_view:before {
  content: "\f118"; }

.icon_hamburger_menu:before {
  content: "\f119"; }

.icon_info:before {
  content: "\f11a"; }

.icon_info_icon:before {
  content: "\f11b"; }

.icon_instagram:before {
  content: "\f11c"; }

.icon_ipad_icon:before {
  content: "\f11d"; }

.icon_iphone_icon:before {
  content: "\f11e"; }

.icon_linkedin:before {
  content: "\f11f"; }

.icon_list_view:before {
  content: "\f120"; }

.icon_mobile_search_icon:before {
  content: "\f121"; }

.icon_next_arrow:before {
  content: "\f122"; }

.icon_no_result_icon:before {
  content: "\f123"; }

.icon_occ_icon:before {
  content: "\f124"; }

.icon_placeholder:before {
  content: "\f125"; }

.icon_preorder:before {
  content: "\f126"; }

.icon_previous_arrow:before {
  content: "\f127"; }

.icon_price_alarm:before {
  content: "\f128"; }

.icon_review:before {
  content: "\f129"; }

.icon_right_arrow_blue:before {
  content: "\f12a"; }

.icon_search_icon:before {
  content: "\f12b"; }

.icon_selectbox_arrow:before {
  content: "\f12c"; }

.icon_seller_icon:before {
  content: "\f12d"; }

.icon_share:before {
  content: "\f12e"; }

.icon_special_price_discount_icon:before {
  content: "\f12f"; }

.icon_table_sort_icon:before {
  content: "\f130"; }

.icon_twitter:before {
  content: "\f131"; }

.icon_user_icon:before {
  content: "\f132"; }

.icon_variant_warning_icon:before {
  content: "\f133"; }

.icon_youtube:before {
  content: "\f134"; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: Helvetica, Roboto, Arial, sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  font-family: "AvenirNextLTPro";
  color: #484848;
  font-size: 13px; }

a {
  -moz-transition: color 0.3s 0.1s;
  -o-transition: color 0.3s 0.1s;
  -webkit-transition: color 0.3s 0.1s;
  transition: color 0.3s 0.1s;
  color: #484848;
  text-decoration: none; }
  a:hover {
    -moz-transition: color 0.3s 0.1s;
    -o-transition: color 0.3s 0.1s;
    -webkit-transition: color 0.3s 0.1s;
    transition: color 0.3s 0.1s; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.hb-container {
  width: auto;
  max-width: 1200px;
  margin: 0 auto; }
  .hb-container:after {
    content: "";
    display: table;
    clear: both; }
  .hb-container.hb-fluid {
    max-width: initial;
    margin: 0 auto; }

h1, h2 {
  margin: 0px;
  padding: 0px;
  font-size: 17px; }

h1 {
  font-family: "AvenirNextLTPro"; }

.hb-breadcrumb-wrapper .hb-breadcrumb {
  display: block; }
  .hb-breadcrumb-wrapper .hb-breadcrumb:after {
    content: "";
    display: table;
    clear: both; }
  .hb-breadcrumb-wrapper .hb-breadcrumb li {
    width: auto;
    height: auto;
    white-space: nowrap;
    position: relative;
    padding: 0 17px 0 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: left; }
    .hb-breadcrumb-wrapper .hb-breadcrumb li:first-child {
      padding-left: 0px; }
    .hb-breadcrumb-wrapper .hb-breadcrumb li:last-child {
      padding-right: 0px; }
      .hb-breadcrumb-wrapper .hb-breadcrumb li:last-child:after {
        display: none; }
    .hb-breadcrumb-wrapper .hb-breadcrumb li:after {
      content: ">";
      position: absolute;
      top: 0px;
      right: 0px; }
    .hb-breadcrumb-wrapper .hb-breadcrumb li a {
      display: block;
      color: #646464; }

.hb-button {
  -moz-transition: opacity 0.3s 0.1s;
  -o-transition: opacity 0.3s 0.1s;
  -webkit-transition: opacity 0.3s 0.1s;
  transition: opacity 0.3s 0.1s;
  border-radius: 5px ;
  -moz-border-radius: 5px ;
  -o-border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -ms-webkit-radius: 5px ;
  width: auto;
  min-width: 94px;
  height: auto;
  padding: 9px 16px 10px 16px;
  background-color: #f28b00;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  line-height: 1;
  border: none;
  outline: none; }
  .hb-button:hover {
    -moz-transition: opacity 0.3s 0.1s;
    -o-transition: opacity 0.3s 0.1s;
    -webkit-transition: opacity 0.3s 0.1s;
    transition: opacity 0.3s 0.1s;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$msVal)";
    filter: alpha(opacity=80);
    opacity: 0.8; }
  .hb-button.alternative {
    background-color: #537ecf; }
  .hb-button.big {
    padding: 16px 24px 17px;
    font-size: 15px; }
  .hb-button.disabled {
    background-color: #dddddd;
    color: #bfbfbf; }
    .hb-button.disabled:hover {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$msVal)";
      filter: alpha(opacity=100);
      opacity: 1; }
  .hb-button.with-badge {
    padding-right: 20px;
    position: relative; }
    .hb-button.with-badge .notification {
      border-radius: 100% ;
      -moz-border-radius: 100% ;
      -o-border-radius: 100% ;
      -webkit-border-radius: 100% ;
      -ms-webkit-radius: 100% ;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 16px;
      font-size: 11px;
      font-style: normal;
      border: 2px solid #ffffff;
      background-color: #f28b00;
      position: absolute;
      top: 5px;
      right: -5px;
      box-sizing: border-box; }
  .hb-button .icon {
    font-size: 20px;
    margin-right: 11px; }

.hb-input-group {
  position: relative;
  font-family: Helvetica, Arial, sans-serif; }
  .hb-input-group .hb-input {
    -moz-transition: border 0.3s 0.1s;
    -o-transition: border 0.3s 0.1s;
    -webkit-transition: border 0.3s 0.1s;
    transition: border 0.3s 0.1s;
    border-radius: 5px ;
    -moz-border-radius: 5px ;
    -o-border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -ms-webkit-radius: 5px ;
    width: auto;
    height: 40px;
    padding: 0 20px;
    border: 2px solid #bfbfbf;
    background-color: transparent;
    outline: none; }
    .hb-input-group .hb-input:focus {
      -moz-transition: border 0.3s 0.1s;
      -o-transition: border 0.3s 0.1s;
      -webkit-transition: border 0.3s 0.1s;
      transition: border 0.3s 0.1s;
      border: 2px solid #f28b00; }
  .hb-input-group .placeholder {
    -moz-transition: top 0.3s 0.1s;
    -o-transition: top 0.3s 0.1s;
    -webkit-transition: top 0.3s 0.1s;
    transition: top 0.3s 0.1s;
    padding: 0 10px;
    color: #bfbfbf;
    background-color: #fff;
    position: absolute;
    font-weight: bold; }
  .hb-input-group.no-animate .placeholder {
    top: -9px;
    left: 12px;
    z-index: 2; }
  .hb-input-group.no-animate .hb-input:focus + .placeholder {
    -moz-transition: color 0.3s 0.1s;
    -o-transition: color 0.3s 0.1s;
    -webkit-transition: color 0.3s 0.1s;
    transition: color 0.3s 0.1s;
    color: #f28b00; }
  .hb-input-group.animate .hb-input {
    position: relative;
    z-index: 1; }
  .hb-input-group.animate .placeholder {
    top: 15px;
    left: 12px; }
  .hb-input-group.animate .hb-input:focus + .placeholder {
    -moz-transition: top 0.3s 0.1s;
    -o-transition: top 0.3s 0.1s;
    -webkit-transition: top 0.3s 0.1s;
    transition: top 0.3s 0.1s;
    color: #f28b00;
    top: -9px;
    z-index: 2; }
  .hb-input-group.error .placeholder {
    color: #f90000; }
  .hb-input-group.error .hb-input {
    border: 2px solid #f90000; }
    .hb-input-group.error .hb-input:focus + .placeholder {
      color: #f90000; }
  .hb-input-group.disabled .hb-input {
    cursor: no-drop; }

.hb-input-group .hb-input.textarea {
  width: 100%;
  height: 132px;
  padding-top: 16px;
  box-sizing: border-box;
  resize: none; }

.hb-input-group .hb-input.select {
  width: 100%;
  height: 44px;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }
  .hb-input-group .hb-input.select + .icon, .hb-input-group .hb-input.select + .placeholder + .icon {
    position: absolute;
    top: 19px;
    right: 14px;
    font-size: 10px; }
    .hb-input-group .hb-input.select + .icon:after, .hb-input-group .hb-input.select + .placeholder + .icon:after {
      content: "";
      width: 2px;
      height: 32px;
      background-color: #bfbfbf;
      position: absolute;
      top: -12px;
      left: -14px; }

.hb-input-group .hb-checkbox-content {
  min-height: 18px;
  padding-left: 32px;
  line-height: 18px;
  position: relative; }
  .hb-input-group .hb-checkbox-content .hb-input.checkbox {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$msVal)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .hb-input-group .hb-checkbox-content .hb-input.checkbox + label {
      width: 18px;
      height: 18px;
      border-radius: 3px ;
      -moz-border-radius: 3px ;
      -o-border-radius: 3px ;
      -webkit-border-radius: 3px ;
      -ms-webkit-radius: 3px ;
      display: block;
      box-sizing: border-box;
      border: 2px solid #bfbfbf;
      position: absolute;
      top: 0px;
      left: 0px; }
      .hb-input-group .hb-checkbox-content .hb-input.checkbox + label + .icon {
        width: 15px;
        height: 15px;
        display: none;
        color: #f28b00;
        position: absolute;
        top: 3px;
        left: 4px; }
    .hb-input-group .hb-checkbox-content .hb-input.checkbox:checked + label + .icon {
      display: block; }

.hb-input-group .hb-radiobox-content {
  min-height: 18px;
  padding-left: 32px;
  position: relative; }
  .hb-input-group .hb-radiobox-content .hb-input.radiobox {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$msVal)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .hb-input-group .hb-radiobox-content .hb-input.radiobox + label {
      border-radius: 100% ;
      -moz-border-radius: 100% ;
      -o-border-radius: 100% ;
      -webkit-border-radius: 100% ;
      -ms-webkit-radius: 100% ;
      width: 18px;
      height: 18px;
      display: block;
      box-sizing: border-box;
      border: 2px solid #bfbfbf;
      position: absolute;
      top: 0px;
      left: 0px; }
      .hb-input-group .hb-radiobox-content .hb-input.radiobox + label:after {
        border-radius: 100% ;
        -moz-border-radius: 100% ;
        -o-border-radius: 100% ;
        -webkit-border-radius: 100% ;
        -ms-webkit-radius: 100% ;
        width: 8px;
        height: 8px;
        content: "";
        display: none;
        background-color: #f28b00;
        position: absolute;
        top: 3px;
        left: 3px; }
    .hb-input-group .hb-radiobox-content .hb-input.radiobox:checked + label:after {
      display: block;
      z-index: 1; }

.hb-button-group {
  display: table;
  overflow: hidden; }
  .hb-button-group:after {
    content: "";
    display: table;
    clear: both; }
  .hb-button-group .hb-button-group-content {
    display: table-cell; }
  .hb-button-group .hb-button {
    border-radius: 0px ;
    -moz-border-radius: 0px ;
    -o-border-radius: 0px ;
    -webkit-border-radius: 0px ;
    -ms-webkit-radius: 0px ;
    -moz-transition: background-color 0.3s 0.1s;
    -o-transition: background-color 0.3s 0.1s;
    -webkit-transition: background-color 0.3s 0.1s;
    transition: background-color 0.3s 0.1s;
    display: table-cell;
    float: left; }
    .hb-button-group .hb-button:hover, .hb-button-group .hb-button.active {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$msVal)";
      filter: alpha(opacity=100);
      opacity: 1;
      -moz-transition: background-color 0.3s 0.1s;
      -o-transition: background-color 0.3s 0.1s;
      -webkit-transition: background-color 0.3s 0.1s;
      transition: background-color 0.3s 0.1s; }
  .hb-button-group.eliptical {
    border-radius: 5px ;
    -moz-border-radius: 5px ;
    -o-border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -ms-webkit-radius: 5px ; }
    .hb-button-group.eliptical .hb-button {
      background-color: #dddddd;
      color: #484848; }
      .hb-button-group.eliptical .hb-button:hover, .hb-button-group.eliptical .hb-button.active {
        background-color: #bfbfbf; }
  .hb-button-group.square .hb-button {
    background-color: #dddddd;
    color: #484848; }
    .hb-button-group.square .hb-button:hover, .hb-button-group.square .hb-button.active {
      background-color: #ffffff; }
  .hb-button-group.square.dark .hb-button {
    padding: 15px 16px 16px 16px;
    background-color: #919191;
    color: #ffffff;
    font-size: 14px; }
    .hb-button-group.square.dark .hb-button.with-badge {
      padding-right: 20px; }
    .hb-button-group.square.dark .hb-button:hover {
      background-color: #646464; }

body {
  background-color: #e5e5e5; }

h1 {
  font-family: Helvetica, Arial, sans-serif; }
  h1 span {
    font-size: 15px;
    color: #919191; }

.pre {
  display: block;
  margin: 24px 0;
  padding: 16px 32px;
  border: 1px solid #e5e5e5;
  background-color: #484848;
  color: #ffffff;
  position: relative; }
  .pre:before {
    content: "";
    width: 1px;
    height: calc(100% - 32px);
    background-color: #e5e5e5;
    position: absolute;
    top: 16px;
    left: 16px; }
  .pre.no-margin {
    margin-top: 0px; }
  .pre .tag {
    color: #ff2929; }
    .pre .tag.css-title {
      color: #50bc71; }
    .pre .tag.css {
      color: #ffffff; }
    .pre .tag.description {
      color: #6f7678; }

.warning {
  display: block;
  margin-top: 24px;
  padding: 24px;
  border: 1px solid pink;
  background-color: 1px solid pink; }

.title-content {
  margin-bottom: 16px;
  padding-bottom: 16px;
  font-family: Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #e5e5e5; }

.elements-content {
  margin: 16px 0; }

header {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  background-color: #f28b00;
  border-bottom: 1px solid #f28b00;
  box-sizing: border-box; }
  header .version-content {
    padding: 24px;
    text-align: right; }
  header .logo-content {
    -moz-transition: padding 0.3s 0.1s;
    -o-transition: padding 0.3s 0.1s;
    -webkit-transition: padding 0.3s 0.1s;
    transition: padding 0.3s 0.1s;
    width: 100%;
    height: auto;
    padding: 32px 0;
    background-color: #ffffff; }
    header .logo-content.fix {
      -moz-transition: padding 0.3s 0.1s;
      -o-transition: padding 0.3s 0.1s;
      -webkit-transition: padding 0.3s 0.1s;
      transition: padding 0.3s 0.1s;
      -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
      padding: 8px 0;
      position: fixed;
      top: 0px;
      z-index: 2; }
  header .logo {
    width: 192px;
    height: 37px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/hepsiburada-logo.png");
    background-repeat: no-repeat; }
  header .menu {
    max-width: 640px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0px;
    text-align: center; }
    header .menu:after {
      content: "";
      display: table;
      clear: both; }
    header .menu li {
      display: inline-block;
      padding: 0px; }
      header .menu li a {
        -moz-transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
        -o-transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
        -webkit-transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
        transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
        border-radius: 100% ;
        -moz-border-radius: 100% ;
        -o-border-radius: 100% ;
        -webkit-border-radius: 100% ;
        -ms-webkit-radius: 100% ;
        width: 190px;
        height: 190px;
        display: inline-block;
        background-color: #fff;
        line-height: 190px;
        font-size: 17px;
        font-family: Helvetica, Arial, sans-serif;
        color: #484848;
        font-weight: bold; }
        header .menu li a:hover {
          -moz-transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
          -o-transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
          -webkit-transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
          transition: background-color 0.3s 0.1s, color 0.3s 0.1s;
          background-color: #484848;
          color: #ffffff; }
      header .menu li.circle-1 a {
        width: 240px;
        height: 240px;
        line-height: 240px; }

.content {
  max-width: 100%;
  padding: 24px; }

.left-column {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  width: 240px;
  height: auto;
  float: left;
  background-color: #ffffff; }
  .left-column.fix {
    position: fixed;
    top: 77px; }
  .left-column .title-wrapper {
    padding: 24px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #d5d5d5; }
    .left-column .title-wrapper .title {
      display: block;
      font-size: 15px; }

.left-column .navigation {
  margin: 0px;
  padding: 8px 0; }
  .left-column .navigation li {
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 13px;
    font-family: Helvetica, Arial, sans-serif; }
    .left-column .navigation li > a {
      display: block;
      padding: 8px 24px;
      text-decoration: none; }
      .left-column .navigation li > a:hover {
        color: #f28b00; }
    .left-column .navigation li.active > a {
      color: #f28b00; }
    .left-column .navigation li ul {
      padding-left: 32px; }
      .left-column .navigation li ul li {
        border-left: 1px solid #e5e5e5; }
        .left-column .navigation li ul li a {
          padding-left: 16px; }

.right-column {
  width: calc(100% - 240px);
  height: auto;
  padding: 0 24px;
  float: right;
  box-sizing: border-box; }
  .right-column .detail-content {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    background-color: #ffffff; }
  .right-column.colors .colors {
    padding-bottom: 24px; }
    .right-column.colors .colors:after {
      content: "";
      display: table;
      clear: both; }
    .right-column.colors .colors:last-child {
      padding-bottom: 0px; }
  .right-column.colors li {
    width: 20%;
    display: block;
    margin: 0 1% 16px;
    padding: 3px;
    position: relative;
    border: 1px solid #e5e5e5;
    float: left; }
    .right-column.colors li:last-child {
      margin-bottom: 0px; }
    .right-column.colors li:before {
      content: "";
      display: block;
      height: 150px; }
    .right-column.colors li .color-code {
      -moz-transition: opacity 0.1s 0.1s;
      -o-transition: opacity 0.1s 0.1s;
      -webkit-transition: opacity 0.1s 0.1s;
      transition: opacity 0.1s 0.1s;
      opacity: .2;
      padding: 0 16px;
      background-color: #e5e5e5;
      position: absolute;
      right: 3px;
      top: 137px; }
    .right-column.colors li .using {
      height: 60px;
      display: block;
      padding: 5px 16px;
      margin-top: 3px;
      background-color: #e5e5e5; }
      .right-column.colors li .using span {
        display: block; }
        .right-column.colors li .using span b {
          color: #919191; }
    .right-column.colors li:hover .color-code {
      -moz-transition: opacity 0.1s 0.1s;
      -o-transition: opacity 0.1s 0.1s;
      -webkit-transition: opacity 0.1s 0.1s;
      transition: opacity 0.1s 0.1s;
      opacity: 1; }
    .right-column.colors li.color-1:before {
      background-color: #e5e5e5; }
    .right-column.colors li.color-2:before {
      background-color: #ffffff; }
    .right-column.colors li.color-3:before {
      background-color: #484848; }
    .right-column.colors li.color-4:before {
      background-color: #919191; }
    .right-column.colors li.color-5:before {
      background-color: #ffffff; }
    .right-column.colors li.color-6:before {
      background-color: #ff8600; }
    .right-column.colors li.color-7:before {
      background-color: #f28b00; }
    .right-column.colors li.color-8:before {
      background-color: #e67a02; }
    .right-column.colors li.color-9:before {
      background-color: #7b7b7b; }
    .right-column.colors li.color-10:before {
      background-color: #bfbfbf; }
    .right-column.colors li.color-11:before {
      background-color: #f1f1f1; }
    .right-column.colors li.color-12:before {
      background-color: #eeeeee; }
    .right-column.colors li.color-13:before {
      background-color: #cccccc; }
    .right-column.colors li.color-14:before {
      background-color: #faf9f9; }
    .right-column.colors li.color-15:before {
      background-color: #9f9f9f; }
    .right-column.colors li.color-16:before {
      background-color: #f90000; }
    .right-column.colors li.color-17:before {
      background-color: #9cc435; }
    .right-column.colors li.color-18:before {
      background-color: #009900; }
    .right-column.colors li.color-19:before {
      background-color: #ffffcc; }
  .right-column.type .fonts:after {
    content: "";
    display: table;
    clear: both; }
  .right-column.type .fonts li {
    width: 46%;
    display: block;
    margin: 0 1%;
    padding: 3px;
    position: relative;
    border: 1px solid #e5e5e5;
    float: left; }
    .right-column.type .fonts li.helvetica {
      font-family: Helvetica, Arial, sans-serif; }
    .right-column.type .fonts li.avenir {
      font-family: "AvenirNextLTPro"; }
    .right-column.type .fonts li span.font {
      display: block;
      height: 150px;
      line-height: 80px;
      text-align: center; }
      .right-column.type .fonts li span.font .letter {
        height: auto;
        display: block;
        padding-top: 30px;
        line-height: 1;
        font-size: 48px; }
  .right-column.type .icons:after {
    content: "";
    display: table;
    clear: both; }
  .right-column.type .icons li {
    width: 30%;
    height: 150px;
    display: block;
    margin: 0 1% 16px;
    padding: 3px;
    position: relative;
    border: 1px solid #e5e5e5;
    float: left;
    position: relative; }
  .right-column.type .icons span.icons-element {
    display: block;
    font-size: 40px;
    text-align: center; }
    .right-column.type .icons span.icons-element .icon {
      margin-top: 24px; }
  .right-column.type .icons .sub-title {
    display: block;
    margin-top: 32px;
    padding: 0 16px;
    font-size: 13px;
    color: #919191;
    word-wrap: break-word; }

/*# sourceMappingURL=main.css.map */