.hb-input-group {

	.hb-radiobox-content {
		min-height: 18px;
		padding-left: $space-4x;
		position: relative;

		.hb-input {

			&.radiobox {
				@include opacity(0);
				@include square(18px);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

		    & + label {
		    	@include border-radius(100%);
					@include square(18px);
					display: block;
					box-sizing: border-box;
					border: 2px solid $secondary-border-color;
					position: absolute;
					top: 0;
					left: 0;

					&:after {
						@include border-radius(100%);
						@include square(8px);
						content: "";
						display: none;
						background-color: $primary-input-focus-color;
						position: absolute;
						top: 3px;
						left: 3px;
					}
		    }

		    &:checked {

		    	& + label {

		    		&:after {
		    			display: block;
		    			z-index: 1
		    		}
		    	}
		    }
			}
		}
	}
}
