.hb-box {
	text-align: center;
	background-color: $white;
	
	&.content {
		padding: $space-3x $space-2x;
		text-align: left;
	}

	a {
		line-height: 1;
	}

	.hb-box-title {
		display: block;
		padding-top: 15px;
		font-size: $sixth-font-size;
		font-family: $third-font;
	}

	.hb-box-special-link {
		display: block;
		padding-top: 3px;
		font-family: $secondary-font;
		font-size: $primary-font-size;
		color: $secondary-link-color;
	}

	.hb-box-link {
		display: block;
		padding: $space $space $space-2x;
	}

	.hb-box-image {
		img {
			display: block;
			margin: 5px auto 0;
		}
	}

	.hb-box-name {
		@include multiline-ellipsis(30px, 1.2em, 3em);
		margin-top: 5px;
		font-size: $primary-font-size;
		font-family: $secondary-font;
	}

	.hb-price-content {
		margin-top: $space-2x;
	}

	.hb-timer {
		margin-top: 12px;
	}
}

.hb-list-box-content {
	@include global-shadow;
	background-color: $secondary-bg-color;

	.hb-list-box {
		@include clearfix;
		padding: $space-2x;
		border-bottom: 1px solid $primary-border-color;

		&:last-child {
			border-bottom: 0px;
		}

		span.hb-list-title-text {
			font-family: $third-font;
			padding-top: 3px;
			font-size: 15px;
			float: left;

			&.small {
				font-size: $primary-font-size;
				float: none;
			}
		}

		.hb-list-title-text.link {
			font-family: $third-font;
			cursor: pointer;

			&:hover {
				color: $primary-price-font-color;
			}
		}

		&.title {
			font-family: $third-font;

			.icon {
				margin-right: $space;
				margin-top: 3px;
				font-size: 20px;
				float: left;
				color: $secondary-font-color;
				line-height: 1;
			}
		}

		.hb-list-item-content {
			width: 100%;
			display: block;
			padding-top: $space-2x;

			.hb-list-item {
				padding: 0 0 $space-2x 0;

				&:last-child {
					padding-bottom: 0px;
				}

				.hb-list-title-text {
					display: block;
					padding-right: $space-3x;
					position: relative;
					font-family: $secondary-font;
					cursor: pointer;

					.icon {
						@include vertical-center;
						font-size: 6px;
						color: $secondary-font-color;
						position: absolute;
						right: 0;
					}

					&:hover, &.active {
						color: $primary-price-font-color;

						.icon {
							color: $primary-price-font-color;
						}
					}

					&.active {
						.icon {
							@include transform(rotate(180deg));
							top: 4px;
						}

						& + .hb-sub-list-item-content {
							display: block;
						}
					}
				}
			}

			.hb-sub-list-item-content {
				width: 100%;
				display: none;
				margin-top: $space-2x;
				padding-left: $space;
				border-left: 1px solid $primary-border-color;

				.hb-list-title-text {
					color: $secondary-font-color;
					font-family: $secondary-font;
				}
			}
		}
	}
}