body {
  font-family: $primary-font;
  color: $primary-font-color;
  font-size: $primary-font-size;
}

a {
  @include transition(color .3s .1s);
  color: $primary-link-color;
  text-decoration: none;

  &:hover {
    @include transition(color .3s .1s);
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hb-container {
  @include clearfix;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;

  &.hb-fluid {
    max-width: initial;
    margin: 0 auto;
  }
}
