* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  color: $primary-font-color;
  font-size: $primary-font-size;
  background-color: $primary-bg-color;
}

a {
  @include transition(color .2s .1s);
  color: $primary-link-color;
  text-decoration: none;

  &:hover {
    @include transition(color .2s .1s);
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hb-container {
  @include clearfix;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;

  &.hb-fluid {
    max-width: initial;
    margin: 0 auto;
  }
}

.hb-shadow {
  @include global-shadow;
}

.section {
  margin-top: $space-2x;
}

.hb-overlay {
  width: 100%;
  height: 100%;
  display: none;
  background-color: transparentize($black, .6);
  position: fixed;
  top: 0px;
  left: 0px;

  &.active {
    display: block;
  }

  &.delay {
    width: 0px;
    height: 0px;
    display: block;
    visibility: hidden;

    &.active {
      @include transition-delay($animation-timing);
      width: 100%;
      height: 100%;
      visibility: visible;
    }
  }
}

.hb-loading {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
  }

  &:after {
    content: '';
    background: transparent url(http://images.hepsiburada.net/assets/sfstatic/Content/images//preloader.gif) no-repeat 0 0;
    background-size: 30px auto;
    width: 30px;
    height: 30px !important;
    position: absolute;
    top: 40%;
    left: 48%;
    margin: -10px 0 0 -10px;
    z-index: 4;
    visibility: visible !important;
  }
}